# Ignore heavy data files but keep folder structure with .gitkeep

# Sentinel-1/2 and derived big outputs
data/blatten_phase1/sentinel1/*
data/blatten_phase1/sentinel2/*
data/blatten_phase1/derived/*

# Re-include .gitkeep inside ignored dirs
!data/blatten_phase1/sentinel1/**/.gitkeep
!data/blatten_phase1/sentinel2/**/.gitkeep
!data/blatten_phase1/derived/**/.gitkeep
!data/blatten_phase1/glamos/.gitkeep
!data/blatten_phase1/swiss_infra/.gitkeep

# File types to ignore
*.dim
*.data
*.tif
*.nc
*.zip

# Python / env
__pycache__/
*.pyc
*.pyo
*.pyd
envs/
*.conda
*.tar.bz2
*.log
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
