# Ignore heavy data files but keep folder structure with .gitkeep

# Ignore heavy outputs
data/blatten_phase1/sentinel1/grd/*
data/blatten_phase1/sentinel2/slc/*
data/blatten_phase1/derived/grd_outputs/*
data/blatten_phase1/derived/s2_resampled/*
data/blatten_phase1/derived/s2_quicklooks/*
data/blatten_phase1/derived/slc_outputs/*
data/blatten_phase1/derived/insar/*

# Re-include only .gitkeep placeholders
!data/blatten_phase1/sentinel1/grd/.gitkeep
!data/blatten_phase1/sentinel2/slc/.gitkeep
!data/blatten_phase1/derived/grd_outputs/.gitkeep
!data/blatten_phase1/derived/s2_resampled/.gitkeep
!data/blatten_phase1/derived/s2_quicklooks/.gitkeep
!data/blatten_phase1/derived/slc_outputs/.gitkeep
!data/blatten_phase1/derived/insar/.gitkeep


# File types to ignore
*.dim
*.data
*.tif
*.nc
*.zip

# Python / env
__pycache__/
*.pyc
*.pyo
*.pyd
envs/
*.conda
*.tar.bz2
*.log
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
